/* src/components/BookList/BookItem.css */
.book-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(2,0,36);
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.book-item:hover {
  transform: translateY(-5px);
}

.book-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  max-height: 200px;
}

.book-item h3, .book-item p {
  margin: 5px 0;
}

.price-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.book-details {
  flex-direction: column;
}

#book-price-list {
  padding: 0;
  flex-grow: 1;
  margin-right: 10px;
}

.button-show {
  padding: 0px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 10px;
  align-self: flex-end;
  margin-top: 10px;
}

.book-item button:hover {
  background-color: #0056b3;
}
