header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bookstore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

h3 {
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  width: 32px;
  height: 32px;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.sign-out-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

.sign-out-btn:hover {
  background-color: #0056b3;
}

button:hover {
  background-color: #0056b3;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-header {
  margin: 6px;
  padding: 6px;
}

#user-header:hover,
.cart-icon:hover {
  border-radius: 5px;
  color: white;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cart-icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    background-color: #f4f4f4;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .sign-out-btn {
    font-size: 2vw
  }

  .bookstore {
    margin: 0px;
    padding: 0px;
  }
  .bookstore {
    padding: 0;
  }
}

@media (max-width: 700px) {
  h3 {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
